body {
  width: 300;
  height: 200;
  overflow: scroll;
}

#startGame {
  float: right;
  margin-top: 10px;
}

#list {
  display: block;
}

#option-button {
  position: absolute;
  top: 0;
  right: 10;
}

#option {
  display: none;
}

#list-button {
  position: absolute;
  top: 0;
  right: 10;
}

.list-item {
}

.list-item-argument {
  display: inline;
}

.list-item-title {
  position: relative;
  text-align: left;
  left: 10;
  height: 30;
}

.list-item-icon {
  position: relative;
  float: left;
  width: 30;
  height: 30;
}