body {
  width: 255;
  height: 100;
  overflow: scroll;
}

#startGame {
  float: right;
  margin-top: 10px;
}

#list {
  display: block;
}

#option-button {
  position: absolute;
  top: 0;
  right: 10;
}

#option {
  display: none;
}

#list-button {
  position: absolute;
  top: 0;
  right: 10;
}

.list-item-title {
  float:right;
  display: inline;
}

.list-item-icon {
  float: left;
  display: inline;
  width: 100;
  height: 100;
}